.nav-container { width: 960px; }
#nav {
	padding-left: 0;
	margin-left: 0;
}

	#nav li.first { margin-left: 75px; }

	#nav li {
		float: left;
		zoom: 1;
		z-index: 3;
		white-space: nowrap;
	}
		#nav li a {
			height: 34px;
			line-height: 34px;
			color: #000;
			padding: 0 20px;
			text-decoration: none;
			z-index: 4;
			width: 1%;
			overflow: visible;
		}
		
		#nav li ul {
			top: 33px;
			left: 0!important;
			display: none;
			width: 960px;
			z-index: 9999;
			zoom: 1;
			
		}
			#nav li ul li {
				float: left;
				zoom: 1;
				cursor: default!important;
			}
				#nav li ul li a {
					display: block;
				}
				#nav li ul li span {
					height: 36px;
				}
