html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************/



body {
	font-family: Georgia;
}


#wrapper {
	width: 960px;
	margin: 100px auto;
}
	#header {
		position: relative;
		padding-top: 50px;
		height: 70px;
		margin-bottom: 30px;
	}
		#header h1 {
			width: 123px;
			height: 74px;
			position: absolute;
			top: 0;
			background: url(logo.png) no-repeat;
			text-indent: -9999px;
			font-size: 0;
			z-index: 10;
		}
			#header h1 a { display: block;}
		
	
		.nav-container {
			position: relative;
		}
		
		#bg-easer {
			display: block;
			height: 36px;
			z-index: 0;
			position: absolute;
			top: 0;
			background: #2e2e2e;
		}
	
		#nav {
			font-family: Helvetica;
			background: url(nav_bg.gif) repeat-x;
			overflow: hidden;
			height: 70px;
			position: relative;
			z-index: 1;
			font-size: .85em;
		}
			#nav > li {
				float: left;
			}
			#nav > li.first { margin-left: 150px; }
				#nav > li a {
					height: 36px;
					line-height: 36px;
					padding: 0 20px;
					color: #000;
					display: block;
					text-decoration: none;
				}
				#nav > li.tempActive a, #nav > li a.current, #nav li.childless-tempActive a { color: #fff; }
								
				#nav > li.tempActive ul { display: none; }
				#nav > li ul {
					display: none;
					position: absolute;
					left: 0;
					background: #2e2e2e;
					width: 100%;
					z-index: 9999;
					padding-left: 150px;
					height: 24px;
				}

					#nav ul > li {
						float: left;
						position: relative;
						font-size: inherit;
					}
						#nav ul > li a {
							color: #fff;
							position: relative;
							z-index: 3;
							line-height: 24px;
							height: 24px;
							padding: 0 20px;
						}
						#nav ul > li span {
							position: absolute;
							z-index: 2;
							top: 0;
							left: 0;
							background: url(hover-bg.gif) repeat-x;
							display: none;
							height: 100%;
							width: 100%;
						}
							